/* rem */
html,
body,
#app {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
form,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: '微软雅黑', Arial, Helvetica, sans-serif;
  background-color: #fff;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: #ff6a00;
}
img {
  border: 0;
  vertical-align: middle;
}
em {
  font-style: inherit;
}
/* 清浮动--伪类 */
.clearfix::after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.hidden {
  display: none;
}

/* 当文本内容长度超过容器最大宽度时，自动省略多余的文本。 */
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
